In [56]:
import pandas as pd

In [57]:
data = pd.read_csv("6153237444115dat.csv", na_values=['*', '**', '***', '****', '*****', '******'])

In [58]:
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174.0,10.0,14.0,NaN,NaN,NaN,NaN,...,1009.2,NaN,984.1,NaN,NaN,NaN,NaN,NaN,NaN,35.0
1,28450,99999,201705010020,180.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28450,99999,201705010050,190.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28450,99999,201705010100,188.0,12.0,16.0,NaN,NaN,NaN,NaN,...,1009.1,NaN,984.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0
4,28450,99999,201705010120,200.0,13.0,NaN,2.0,OBS,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
row_count = len(data)

In [60]:
column_names = data.columns

In [61]:
column_datatypes = data.dtypes

In [62]:
print(f"There are {row_count} rows")

There are 11694 rows

In [63]:
print(f"The columns are: \n{column_names}")

The columns are:
Index(['USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L',
       'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2',
       'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01',
       'PCP06', 'PCP24', 'PCPXX', 'SD'],
      dtype='object')

In [64]:
print(f"The column types are: \n{column_datatypes}")

The column types are:
USAF              int64
WBAN              int64
YR--MODAHRMN      int64
DIR             float64
SPD             float64
GUS             float64
CLG             float64
SKC              object
L               float64
M               float64
H               float64
VSB             float64
MW              float64
MW.1            float64
MW.2            float64
MW.3            float64
AW              float64
AW.1            float64
AW.2            float64
AW.3            float64
W               float64
TEMP            float64
DEWP            float64
SLP             float64
ALT             float64
STP             float64
MAX             float64
MIN             float64
PCP01           float64
PCP06           float64
PCP24           float64
PCPXX           float64
SD              float64
dtype: object

In [65]:
data["TEMP"].head()

0    31.0
1    30.0
2    30.0
3    31.0
4    30.0
Name: TEMP, dtype: float64

In [66]:
data.dropna(subset=["TEMP"])

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174.0,10.0,14.0,NaN,NaN,NaN,NaN,...,1009.2,NaN,984.1,NaN,NaN,NaN,NaN,NaN,NaN,35.0
1,28450,99999,201705010020,180.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28450,99999,201705010050,190.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28450,99999,201705010100,188.0,12.0,16.0,NaN,NaN,NaN,NaN,...,1009.1,NaN,984.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0
4,28450,99999,201705010120,200.0,13.0,NaN,2.0,OBS,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,29980,99999,201708311900,144.0,12.0,20.0,50.0,BKN,NaN,NaN,...,1007.7,NaN,1004.7,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11690,29980,99999,201708312000,137.0,14.0,20.0,40.0,BKN,NaN,NaN,...,1006.9,NaN,1003.9,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11691,29980,99999,201708312100,160.0,13.0,NaN,NaN,BKN,NaN,NaN,...,1006.1,NaN,1003.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11692,29980,99999,201708312200,170.0,12.0,21.0,28.0,OVC,NaN,NaN,...,1006.1,NaN,1003.1,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11693,29980,99999,201708312300,192.0,13.0,21.0,19.0,BKN,NaN,NaN,...,1005.8,NaN,1002.8,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [82]:
temp_mean = data["TEMP"].mean().round(0)

In [83]:
data.dropna(subset=["MAX"])

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
18,28450,99999,201705010600,216.0,11.0,18.0,NaN,NaN,NaN,NaN,...,1011.0,NaN,985.8,34.0,31.0,NaN,NaN,NaN,NaN,35.0
54,28450,99999,201705011800,229.0,15.0,23.0,NaN,NaN,NaN,NaN,...,1013.6,NaN,988.9,44.0,30.0,NaN,NaN,NaN,NaN,34.0
90,28450,99999,201705020600,286.0,16.0,25.0,722.0,SCT,NaN,NaN,...,1016.9,NaN,992.1,42.0,35.0,NaN,NaN,NaN,NaN,34.0
126,28450,99999,201705021800,318.0,11.0,23.0,NaN,NaN,NaN,NaN,...,1025.7,NaN,1000.5,45.0,36.0,NaN,NaN,NaN,NaN,33.0
161,28450,99999,201705030600,324.0,9.0,15.0,NaN,BKN,NaN,NaN,...,1031.2,NaN,1005.9,37.0,33.0,NaN,NaN,NaN,NaN,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11640,29980,99999,201708291800,209.0,15.0,22.0,47.0,BKN,NaN,NaN,...,1014.5,NaN,1011.5,64.0,58.0,0.0,NaN,NaN,NaN,0.0
11652,29980,99999,201708300600,198.0,16.0,26.0,722.0,SCT,NaN,NaN,...,1010.5,NaN,1007.5,62.0,59.0,0.0,NaN,NaN,NaN,0.0
11664,29980,99999,201708301800,219.0,15.0,23.0,9.0,BKN,NaN,NaN,...,1011.4,NaN,1008.3,67.0,60.0,0.0,NaN,NaN,NaN,0.0
11676,29980,99999,201708310600,158.0,8.0,12.0,10.0,BKN,NaN,NaN,...,1011.2,NaN,1008.2,63.0,59.0,0.0,NaN,NaN,NaN,0.0
11688,29980,99999,201708311800,151.0,15.0,26.0,70.0,OVC,NaN,NaN,...,1008.1,NaN,1005.1,66.0,61.0,0.0,NaN,NaN,NaN,0.0

In [89]:
temp_max_std = data["MAX"].std().round(0)

In [90]:
unique = data["USAF"].unique()

In [91]:
station_count = len (unique)

In [92]:
print(f"The mean temperature in Fahrenheit is {temp_mean}")

The mean temperature in Fahrenheit is 52.0

In [93]:
print(f"The standard deviation of maximum temperature is {temp_max_std}")

The standard deviation of maximum temperature is 10.0

In [94]:
print(f"The number of unique stations is {station_count}")

The number of unique stations is 2